html {
  height: 100%;
  body {
    height: 100%;
    margin: 0;
    .app {
      font-family: 'Avenir', Helvetica, Arial, sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      //text-align: center;
      color: #2c3e50;
      background-color: #fff;
      //padding-top: 40px;
      -webkit-tap-highlight-color:transparent;//方法一
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);//方法二
      tap-highlight-color: rgba(0, 0, 0, 0);//方法三
      height: 100%;
    }
  }
}

h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  //margin: 0 10px;
}

a {
  color: #42b983;
}

.router-view {
  transition: all .3s ease;
  position: absolute;
  width: 100%;
}

.slide-left-enter,
.slide-right-leave-active {
  opacity: 0;
  -webkit-transform: translate(100%, 0);
  transform: translate(100%, 0);
}

.slide-left-leave-active,
.slide-right-enter {
  opacity: 0;
  -webkit-transform: translate(-100%, 0);
  transform: translate(-100% 0);
}

.login{
  .mint-cell {
      .mint-cell-wrapper {
         background-image: none;
         border-bottom: 1px solid #d9d9d9;
      }
  }
 }
.tab-container {
    margin-bottom: 3px;
    display: flex;
    justify-content: center;
}
.tab-title{
  text-decoration: none;
  font-size: 18px;
  margin: 0 10px;
  &.router-link-active{
    border-bottom: 3px solid #26a2ff;
    .mint-tab-item-label {
      color: #26a2ff !important;
    }
  }
  .tab-content {
    .mint-tab-item-label {
      font-size: 18px;
      color: #000;
    }
  }
}

.bottom-option {
  position: fixed;
  display: flex;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  border-top: 1px solid #b6b6b6;
  .list-btn {
    width: 50%;
    border-radius: 0;
    background-color: #fff;
    &.primary {
      background-color: #26a2ff;
      color: #fff;
    }
    &.danger {
      background-color: #ef4f4f;
      color: #fff;
    }
  }
}
@keyframes slideInUp {
  from {
    transform: translate3d(0, 100%, 0);
    visibility: hidden;
  }

  to {
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
}

@keyframes slideOutDown {
  from {
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  to {
    visibility: hidden;
    transform: translate3d(0, 100%, 0);
  }
}

@keyframes slideInLeft {
  from {
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.slideInLeft {
  animation-name: slideInLeft;
}

@keyframes slideOutRight {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    transform: translate3d(100%, 0, 0);
  }
}

.slideOutRight {
  animation-name: slideOutRight;
}

@keyframes slideInRight {
  from {
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.slideInRight {
  animation-name: slideInRight;
}

@keyframes slideOutLeft {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    transform: translate3d(-100%, 0, 0);
  }
}

.slideOutLeft {
  animation-name: slideOutLeft;
}

.bounce {
  animation-name: bounce;
  transform-origin: center bottom;
}

@keyframes bounce {
  from, 20%, 53%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transform: translate3d(0,0,0);
  }

  40%, 43% {
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    transform: translate3d(0,-4px,0);
  }
}

